


.container{
  display:flex;
  flex-direction: column;
  max-width: 300px;
  border:1px solid grey;
  border-radius: 4px;
  margin: 20px auto auto auto;
  padding: 10px;
  align-items: center;
  justify-content:center;
  height:300px;
  background: rgba(255, 255, 255, 1)
}

h1 {
  text-align: center;
  font-size: 36px;
  color: #333; 
  background-color: #f4f4f4; 
  padding: 20px 0; 
  margin: 0; 
  text-transform: uppercase; 
  letter-spacing: 2px; 
  font-family: 'Arial', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
}

label {
  font-size: 28px;
  color: #333;
  margin-bottom: 8px;
}

/* Input Styles */
input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 80%;
}
img{
  height:100px;
  width:100px;
}